.box{
    width: 1200px;
    margin: 0 auto;
}
.a{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 0;
    margin-top: 10px;
}
.b{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 150px;
    margin-top: -120px;
}
.c{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left:300px ;
    margin-top: -120px;
}
.d{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 450px;
    margin-top: -120px;
}
.e{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 600px;
    margin-top: -120px;
}
.f{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 750px;
    margin-top: -120px;
}
.g{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 0;
    margin-top: 30px;
}
.h{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 150px;
    margin-top:-120px ;
}
.i{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 300px;
    margin-top: -120px;
}
.j{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left:450px ;
    margin-top: -120px;
}
.k{
   width: 120px;
   height: 120px;
   background-color: chartreuse;
   text-align: center;
   line-height: 110px;
   font-size: 90px;
   margin-left: 600px;
   margin-top: -120px;
}
.l{
  width: 120px;
  height: 120px;
  background-color: chartreuse;
  text-align: center;
  line-height: 110px;
  font-size: 90px;
  margin-left: 750px;
  margin-top: -120px;
}
.m{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 0;
    margin-top: 30px;
}
.n{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 150px;
    margin-top: -120px;
}
.o{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 300px;
    margin-top: -120px;
}
.p{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 450px;
    margin-top: -120px; 
}
.q{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 600px;
    margin-top: -120px;
}
.r{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 750px;
    margin-top: -120px;
}
.s{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 0;
    margin-top: 30px;
}
.t{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 150px;
    margin-top: -120px;
}
.u{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 300px;
    margin-top: -120px;
}
.v{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 450px;
    margin-top: -120px;
}
.w{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 600px;
    margin-top: -120px;
}
.x{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 750px;
    margin-top: -120px;
}
.y{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 0;
    margin-top: 30px;
}
.z{
    width: 120px;
    height: 120px;
    background-color: chartreuse;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 150px;
    margin-top: -120px;
}